/*
    File: custom.css

    Author: Martin Pech (xpechm00)
*/
.btn-primary {
    background-color: #3d3d3d;
}

.btn-primary:hover {
    background-color: #808080;
}
.close{
    font-size: 2rem;
    color: red;
    width: min-content;
    cursor: pointer;
    overflow: initial;
}

