*{
    overflow-x: hidden;
    box-sizing: border-box;
}
.sidePanel{
    border-right: 1px solid;
    height: 100vh;
    position: static;
}
.sidePanel h1{
    padding: 20px;
}
.header{
    height: 50px;
}
.recipeContainer{
    width: 100%;
}
.recipe{
    margin-left: 2%;
    border: 1px solid;
    border-radius: 50px;
    padding: 20px;
    width: 28%;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 3.33%;
}
.recipe:after{
    clear: both;
    display: table;
    content: "";
}
.recipe h2{
    overflow-y: hidden;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-background{
    position: absolute;
    width: 100%; 
    height: 100%; 
    cursor: pointer;
}
.modal-content{
    padding: 20px;
    top: 5%;
    margin: auto;
    width: 90%;
    height: 90%;
}
.close{
    font-size: 2rem;
    color: red;
    width: min-content;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 900px) {
    .recipe{
        width: 80%;
    }
}