*{
    box-sizing: border-box;
}
h1, h2, h3{
    overflow-y: hidden;
}
.sidePanel{
    text-align: center;
    height: 100vh;
    width: 16.66%;
    position: fixed;
    background-color: #e7e7e7;
}
.sidePanel h1{
    padding: 20px;
}
.header{
    height: 50px;
}
.recipeContainer{
    width: 100%;
}
.recipeContainer h2{
    color: #000;

}
.recipe{
    position: relative;
    margin-left: 2%;
    border: 1px solid;
    border-radius: 50px;
    width: 28%;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 3.33%;
    overflow-x: hidden;
}
.recipe:after{
    clear: both;
    display: table;
    content: "";
}
.recipe h2{
    overflow-y: hidden;
}
.recipe:hover > .nameSection{
    height: 50%;
    top: 50%;
}
.recipeOverlayContent{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}
.recipeOverlay{
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.nameSection{
    overflow-y: hidden;
    transition: ease .5s;
    position: absolute;
    top: 80%;
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}
.recipePhoto{
    overflow-y: none;
    width: 100%;
    height: 100%;
}
.invisibleButton{
    margin-top: 5%;
}
.logo{
    width: 100%;
    border-radius: 50%;
}
.searchbar{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
    width: 92%;
    padding: 0;
}
.rightFloat{
    margin-top: 20px;
    float: right;
    margin-left: 20px;
}
.searchfield{
    width: 100%;
}
.rightsideBackground{
    background: url('img/default.png');
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.785);
    background-size: cover;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-background{
    position: absolute;
    width: 100%; 
    height: 100%; 
    cursor: pointer;
}
.modal-content{
    padding: 20px;
    top: 5%;
    margin: auto;
    width: 90%;
    height: 90%;
}
.formInModal{
    margin: auto;
}
.close{
    font-size: 2rem;
    color: red;
    width: min-content;
    cursor: pointer;
    overflow: initial;
}
.ingredients{
    display: none;
}
.hiddenButton{
    display: none;
}
.displayLandingPage{
    display: block;
}
.recipes{
    overflow-x: hidden;
    display: none;
}

/* Media Queries */
@media (max-width: 900px) {
    .recipe{
        width: 80%;
    }
}
@media (max-width: 576px) {
    .col-sm-2{
        display: none;
    }
    .recipe{
        width: 95%;
    }
}
