.timer{
    padding: 20px;
    border-color: black;
    border-width: 3px;
    background: #a4e3a4;
    border-radius: 5px;
}

.timer_container {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}

.timer_quit_button{
    background: pink;
    padding: 3px;
    margin: 3px;
    border-radius: 8px;
}